---
const pageTitle = "About Me";
const identity={
  firstName: "Fachihull",
  lastName: "Alam",
  country: "Bangladesh",
  occupation: "Banker",
  hobbies: ["photography", "birdwatching", "baseball"],
}
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <title>Astro</title> -->
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
    <p>Some important facts about me</p>
    <ul>
      <li>My name is {identity.firstName+' '+ identity.lastName}</li>
    </ul>

    
  </body>
</html>